<script>
	$('li').removeClass('active')
	$('li#users').addClass('active')
</script>

<h1>Users</h2>
<table border=2 padding=10px>
<tr>
	<td><b>ID</b></td>
	<td><b>Name</b></td>
	<td><b>Items (Categories)</b></td>
</tr>
<% @users.each do |user| %>
	<tr>
	<td><%= link_to user.user_id, user_path(user) %></td>
	<td><%= user.name %></td>

	<td>

	</td>
	</tr>
<% end %>
</table>
